{% extends 'base.html.twig' %}

{% block body %}
<div style="margin-top: 5%;">
    <table class="container" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr><td class="lpage"><a href="http://www.cclean-nettoyage.fr/" title="CClean Nettoyage">Accueil</a></td></tr>
        <tr><td class="lpage"><a href="http://www.cclean-nettoyage.fr/contact" title="CClean Nettoyage">Nous contacter</a></td></tr>
        <tr><td class="lpage"><a href="http://www.cclean-nettoyage.fr/login" title="CClean Nettoyage">Donner votre avis</a></td></tr>
    </table>
</div>
{% endblock %}