<div class="primaire">
    <div class="secondaire">
        <span id="average_title">Avis Clients</span>
        <br>
        <span id="average_result">{{ result }}</span>&nbsp;<span id="average_ratio">/ 5</span>
    </div>
</div>